@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

$gold: #8C7332;
$orange: #8A4914;
$yellow: #C98608;
$backyellow: rgba(241, 172, 118, 1);
$smokebrown: #87735D;
$gray: #837977;
$text-color: darkgray;

@mixin borderlefttop {
  border-left: 3px solid rgba(18, 18, 17, 1);
  border-top: 3px solid rgba(18, 18, 17, 1);
  border-radius: 6px;
}
@mixin borderleftbottem {
  border-left: 3px solid rgba(18, 18, 17, 1);
  border-bottom: 3px solid rgba(18, 18, 17, 1);
  border-radius: 6px;
}
@mixin borderrightbottem {
  border-right: 3px solid rgba(18, 18, 17, 1);
  border-bottom: 3px solid rgba(18, 18, 17, 1);
  border-radius: 6px;
}
@mixin borderrighttop {
  border-right: 3px solid rgba(18, 18, 17, 1);
  border-top: 3px solid rgba(18, 18, 17, 1);
  border-radius: 6px;
}
@mixin textandtitleswrap {
  border-top: 4px solid $yellow;
  border-color: $yellow;
  background-color: whitesmoke;
}


.header {
  display: block;
  margin-bottom: 180px;
}

.title-content {
  height: 189px;
  margin-top: 7%;
  position: relative;
  font-size: 70px;
  text-align: center;
  text-shadow: 1px 1px 2px #262623;
  line-height: 160px;
  letter-spacing: 28px;
  color: whitesmoke;
 .line {
   position: absolute;
   width: 590px;
   height: 8px;
   background-color: #BC9A44;
   box-shadow: 1px 1px 2px #262623;
   margin: 0 auto;
   top: 140px;
   left: 8px;
 }
}

.titlebox {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
  height: 636px;
  .l-block {
    width: 755px;
    height: 640px;
    position: center;
      .left {
        background-image: url("../img/woodboard-02c.jpg"), linear-gradient(#131413, #1A1A19, #292815);
        background-repeat: no-repeat;
        opacity: 0.9;
        @include borderlefttop;
        border-radius: 0;
        border-width: 6px;
      }
  }
  .r-block {
    width: 740PX;
    height: 561px;
      .right {
        background-image: url("../img/lumber-01b.jpg"), linear-gradient(#0F0F0F, #0A0A09);
        background-repeat: no-repeat;
        opacity: 0.9;
        z-index: 1;
        @include borderrightbottem;
        border-radius: 0;
        border-width: 6px;
    }
  }
}

.hero {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
}

.img-bg {
  width: 100%;
  height: 100%;
}

section {
  display: block;
  box-sizing: content-box;
  margin-top: 200px;
  padding-left: 100px;
}

article {
  display: block;
  width: 1200px;
  height: 460px;
  background-color: white;
  margin: 0 auto;
}

.about-article-1 {
  display: flex;
  justify-content: space-around;
  position: relative;
  @include borderlefttop;
  box-shadow: -4px -4px 22px #131413;
  .image-container-1 {
    padding-top: 50px;
    margin-left: -10px;
    .layout-1 {
      position: absolute;
      width: 1200px;
      height: 460px;
      background-color: $smokebrown;
      border-radius: 6px;
      top: -65px;
      z-index: -1;
      left: -80px;
    }
    .image-wrapper-1 {
      background-color: #1A1A19;
      height: 449px;
      border-radius: 6px;
      .chair {
        box-shadow: 4px 4px 12px #131413;
        opacity: 0.8;
        @include borderrightbottem;
      }
    }
  }
  .text-container-1 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: -90px;
    width: 660px;
    height: 448px;
    @include borderleftbottem;
    background-color: $orange;
    justify-content: space-evenly;
    box-shadow: -4px 4px 12px #131413;
      .h3-1 {
        margin: 10px 240px 0 0;
        padding: 16px 0 12px 36px;
        color: darkslategray;
        letter-spacing: 4px;
        @include borderrightbottem;
        @include textandtitleswrap;
        text-shadow: 1px 1px 3px lightgoldenrodyellow;
        background-color: $smokebrown;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    .text-wrapper-1 {
      width: 606px;
      @include borderrightbottem;
      @include textandtitleswrap;
      padding-bottom: 20px;
      padding-right: 30px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      .P1 {
        padding: 20px 0 0 36px;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 2px;
        color: darkslategray;
        font-family: 'Raleway', fantasy;
      }
    }
    .button-container-1 {
      @include borderrightbottem;
      @include textandtitleswrap;
      background-color: $smokebrown;
      margin: 0 240px 0 0;
      padding: 8px 36px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      .button-1 {
        color: darkslategray;
        text-align: center;
        text-decoration: none;
        font-weight: 900;
        span {
          font-size: 28px;
        }
      }
    }
  }
}

.about-article-2 {
  display: flex;
  justify-content: space-around;
  position: relative;
  box-shadow: 4px -4px 22px #131413;
  @include borderrighttop;
  height: 640px;
  left: -80px;
  margin-top: 280px;
  .text-container-2 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 10px;
    width: 525px;
    height: 640px;
    @include borderrightbottem;
    background-color: $orange;
    justify-content: space-evenly;
    box-shadow: 4px 4px 12px #131413;
    .h3-2 {
      margin: 10px 0 0 160px;
      padding: 16px 36px 12px 36px;
      color: darkslategray;
      letter-spacing: 4px;
      @include borderleftbottem;
      @include textandtitleswrap;
      text-align: right;
      text-shadow: 1px 1px 3px lightgoldenrodyellow;
      background-color: $smokebrown;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    .text-wrapper-2 {
      width: 472px;
      margin-left: 50px;
      @include borderleftbottem;
      @include textandtitleswrap;
      padding-bottom: 20px;
      padding-right: 36px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      .P2 {
        padding: 20px 0 0 36px;
        font-size: 14px;
        text-align: right;
        line-height: 160%;
        letter-spacing: 2px;
        color: darkslategray;
        font-family: 'Raleway', fantasy;
      }
    }
    .button-container-2 {
      @include borderleftbottem;
      @include textandtitleswrap;
      background-color: $smokebrown;
      margin: 0 0 0 158px;
      padding: 8px 36px 8px 150px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      .button-2 {
        color: darkslategray;
        text-align: center;
        text-decoration: none;
        font-weight: 700;
        span {
          font-size: 28px;
        }
      }
    }
  }
  .image-container-2 {
    padding-top: 50px;
    margin-left: -50px;
    .layout-2 {
      position: absolute;
      width: 1200px;
      height: 640px;
      background-color: $smokebrown;
      border-radius: 6px;
      top: -65px;
      z-index: -1;
      left: 80px;
    }
    .image-wrapper-2a {
      margin-bottom: 20px;
      background-color: #1A1A19;
      height: 272px;
      border-radius: 6px;
      .lounge {
        box-shadow: -4px 4px 12px #131413;
        opacity: 0.8;
        @include borderleftbottem;
      }
    }
    .image-wrapper-2b {
      background-color: #1A1A19;
      height: 348px;
      border-radius: 6px;
      .resto {
        box-shadow: -4px 4px 12px #131413;
        opacity: 0.8;
        @include borderleftbottem;
      }
    }

  }
}

.about-article-3 {
  display: flex;
  justify-content: space-around;
  position: relative;
  box-shadow: -4px -4px 22px #131413;
  @include borderlefttop;
  height: 692px;
  margin-top: 280px;
  .image-container-3 {
    padding-top: 50px;
    .layout-3 {
      position: absolute;
      width: 1200px;
      height: 692px;
      background-color: $smokebrown;
      border-radius: 6px;
      top: -65px;
      z-index: -1;
      left: -80px;
    }
    .image-wrapper-3 {
      background-color: #1A1A19;
      height: 692px;
      border-radius: 6px;
      .bedroom {
        box-shadow: 4px 4px 12px #131413;
        opacity: 0.8;
        @include borderrightbottem;
      }
    }
  }
  .text-container-3 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: -80px;
    width: 540px;
    height: 692px;
    @include borderleftbottem;
    background-color: $orange;
    justify-content: space-evenly;
    box-shadow: -4px 4px 12px #131413;
    .h3-3 {
      margin: 10px 160px 0 0;
      padding: 16px 0 12px 36px;
      color: darkslategray;
      letter-spacing: 4px;
      @include borderrightbottem;
      @include textandtitleswrap;
      text-shadow: 1px 1px 3px lightgoldenrodyellow;
      background-color: $smokebrown;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    .text-wrapper-3 {
      width: 490px;
      @include borderrightbottem;
      @include textandtitleswrap;
      padding-bottom: 40px;
      padding-right: 40px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      .P3 {
        padding: 20px 0 0 36px;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 2px;
        color: darkslategray;
        font-family: 'Raleway', fantasy;
      }
    }
    .button-container-3 {
      @include borderrightbottem;
      @include textandtitleswrap;
      background-color: $smokebrown;
      margin: 0 160px 0 0;
      padding: 8px 40px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      .button-3 {
        color: darkslategray;
        text-align: center;
        text-decoration: none;
        font-weight: 700;
        span {
          font-size: 28px;
        }
      }
    }
  }
}
/*
.about-article-4 {
  display: flex;
  justify-content: space-around;
  position: relative;
  box-shadow: 4px -4px 22px #131413;
  left: -80px;
  top: 100px;
  float: left;
  .text-container-4 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 26px;
    width: 400px;
    height: 500px;
    @include borderrightbottem;
    background-color: $orange;
    justify-content: space-evenly;
    box-shadow: 4px 4px 12px #131413;
    .h3-4 {
      margin: 10px 0 0 160px;
      padding: 16px 40px 12px 36px;
      color: darkslategray;
      letter-spacing: 4px;
      @include borderleftbottem;
      @include textandtitleswrap;
      text-align: right;
      text-shadow: 1px 1px 3px lightgoldenrodyellow;
      background-color: $smokebrown;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
    }
    .text-wrapper-4 {
      width: 390px;
      margin-left: 26px;
      @include borderleftbottem;
      @include textandtitleswrap;
      padding-bottom: 40px;
      padding-right: 40px;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
      .P4 {
        padding: 40px 0 0  36px;
        font-size: 16px;
        text-align: right;
        line-height: 160%;
        letter-spacing: 2px;
        color: darkslategray;
        font-family: 'Raleway', fantasy;
      }
    }
    .button-container-4 {
      @include borderleftbottem;
      @include textandtitleswrap;
      background-color: $smokebrown;
      margin: 0 0 0 158px;
      padding: 8px 40px;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
      .button-2 {
        color: darkslategray;
        text-align: center;
        text-decoration: none;
        font-weight: 700;
        span {
          font-size: 28px;
        }
      }
    }
  }
  .image-container-4 {
    padding-top: 50px;
    margin-left: -24px;
    .layout-3 {
      position: absolute;
      width: 1200px;
      height: 454px;
      background-color: $smokebrown;
      border-radius: 6px;
      top: -65px;
      z-index: -1;
      left: 80px;
    }
  }
}
*/
